<ion-header>
  <nav-component title="Home"></nav-component>
</ion-header>

<ion-content padding>
  <div *ngIf="isProcessing">
    loading...
  </div>
  <div *ngIf="!isProcessing">
    <div *ngIf="isLogin">
      <div>hello {{ userName }}!</div>
      <button ion-button color="light" (click)="doLogout()">Logout</button>
    </div>
    <div *ngIf="!isLogin">
      <div>You try to login to use this app</div>
      <button ion-button color="danger" (click)="doLogin('google')">Google Login</button>
      <button ion-button (click)="doLogin('github')">Github Login</button>
    </div>
  </div>
</ion-content>
